@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap");

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px;
}

/* Estilos para el texto con efecto neon */
.neon-text {
  font-size: 160px;
  color: #fff;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  font-family: 'Jim Nightshade';
  animation: background-color 7s linear infinite;
}

@keyframes background-color {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: scale(1.2);
  }
}
